.navbar {
    background-color: red;
    height: 50px;
}

.text {
    border: 1px solid black;
    min-height: 200px;
}

.editor {
    display: flex;
    align-items: center;
    justify-content: space-around;
}